header{
  color: darksalmon;
  border: 10px; /* Set a transparent border to make room for the image */
  border-image-source: url('../healthy-pic.jpeg'); /* Adjust the path based on your folder structure */
  border-image-slice: 10; /* Adjust the slicing if needed */
  border-image-width: 8px; /* Adjust the width of the border */
  border-image-outset: 0; /* Adjust the outset if needed */
}
.header-div {
  display: flex;
  justify-content: space-around;
  
  align-items: center;
 
  width: 100%;
  padding: 10px 0 10px 0;
}
.header-title {
  text-align: center;
  font-style: oblique;
}
.header-btn {
 
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: black;

}
.header-btn:hover {
  background-color: rgb(120, 80, 47);
  color: white;
}
body{
 
background-color: rgba(255, 228, 196, 0.34);
}