header{
  color: rgb(189, 78, 41);
  border-image: url(../healthy-pic.jpeg);
  background-size: cover;
  z-index: -1;
}
.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0 10px 0;
}
.header-title {
  font-style: oblique;
  font-size: 120%;
  padding: 15px 10px;
  text-decoration:none;
}
.header-title2 {
  
  align-items: center;
  padding: 30px 0 30px 610px; 
  margin: 0 auto;
  font-style:inherit;
 
}
.top-nav {
  display: flex;
}
.nav-btn-outer {
  padding: 30px 200px; 
}
.nav-btn-inner {
  border-radius: 3px;
  text-decoration: none;
  color: rgb(165, 89, 42);
  display: inline-block;

}
.nav-btn-inner:hover {
  background-color: rgb(120, 80, 47);
  color: white;
  
}
body{
 /*background-image: url(../healthy-pic.jpeg); */
background-color: rgba(255, 228, 196, 0.34);
/*background-size: cover5o; */
}



